<!DOCTYPE HTML>
<html ng-app>
<head>
    <meta charset="UTF-8">
    <title>Курсы наличных валют — Анализатор Валют</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>   
</head>
<body>
<div id="container">

  <div id="content">
      <header>
      <div id="topArea" class="topShadow">
          <ul class="topmenu menuStyle" style="display: @none">
              <a href="currencies">
                  <li>Главная</li>
              </a>
              <a href="currency_converts">
                  <li>Конвертер</li>
              </a>
          </ul>
      </div>
  </div>
  </header>
<body>

<%= yield %>

</body>
</html>
